{% extends 'consulta.html' %}
{% load static %}

{% block js %}
{#    <script src="{% static 'cliente/js/list.js' %}"></script>#}
{% endblock %}

{% block search %}
    <form action="{%url 'activos_fijos:listcategoria'%}" method="GET">
      <div class="input-group mb-3">
        <input type="text" name="query" value="{{ query }}" class="form-control" placeholder="Buscar... por nombre" id="idInputSearch" aria-describedby="basic-addon2"/>
        <button type="submit" class="btn btn-primary mr-1" id="idSearchSp">Buscar</button>
      </div>
    </form>
{% endblock %}


{% block columns %}
    <tr class="text-center">
        <th scope="col" style="width: 5%;">Id</th>
        <th scope="col" style="width: 20%;">Nombre</th>
        <th scope="col" style="width: 20%;">Estado</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

    {% for cat in Categoria %}
        <tr class="align-middle" >
            <td>{{ cat.id }}</td>
            <td>{{ cat.nombre }}</td>
            <td>{{ cat.estado }}</td>

             <td class="acciones">
                <a href="{% url 'activos_fijos:actualizarcategoria' cat.id %}"> ✏️</a>
                <a href="{% url 'activos_fijos:eliminarcategoria' cat.id %}"> ❌  </a>
            </td>

        </tr>
    {% endfor %}

{% endblock %}
